.mainCont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.innerCont{
    display: flex;
    flex-direction: column;
    /*padding-left: 8rem;*/

}

.innerCont > h1{
    color: #4D4D4D;
    font-weight: 500;
    font-size: 60px;
    line-height: 76px;
    margin-bottom: 0;
}

.innerCont > p{
    color: #717171;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}
@media screen and (max-width: 760px) {
    .heroImg{
        display: none;
    }
}
