.mainCont{
    background: #F5F7FA;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*gap: 7rem;*/
}

.secondDiv{
    /*width: 50rem;*/
    /*padding-left: 10rem;*/
}

.paragraph{
    color: #18191F;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.secondDiv > h1{
    color: #4D4D4D;
    font-weight: 500;
    margin-top: 2rem;
}

.content{
    gap: 0.4rem;
    padding-left: 1rem;
    display: -webkit-inline-flex;
    /*width: 15rem;*/
}

.content > img{
    width: 2rem;
    height: 2.2rem;
    padding-top: 1rem;
}

.contentDiv{
    height: 5rem;
}

.contentDiv h4{
    height: 1rem;

}

.contentDiv p{
    height: 1rem;
    font-size: 0.9rem;
    margin-top: -1rem;
}
@media screen and (max-width: 760px) {
    .mainCont{
        flex-direction: column;
    }
}
