.mainCont{
    display: flex;
    padding-top: 2rem;
    justify-content: space-evenly;
}

.imags{
    /*padding-left: 10rem;*/
}

.imags > img{
    /*width: 30rem;*/
    /*height: 30rem;*/
}

.secondCont{
    padding-top: 2.6rem;
}

.secondCont > img{
    width: 5rem;
    height: 3rem;
    padding-left: 7rem;
}

.secondCont > h1{
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    color: #4D4D4D;
}

.secondCont > p{
    font-weight: 200;
    font-size: 11px;
    line-height: 16px;
    color: #717171;
}
@media screen and (max-width: 760px) {
    .mainCont{
        flex-direction: column;
    }
    .imags > img{
        width: 23rem;
    }
}