.headPara{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*padding-left: 30rem;*/
}

.headPara > h1{
    font-weight: 600;
    font-size: 36px;
    color: #4D4D4D;
    /*padding-left: 7rem;*/
}

.headPara > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #717171;
}

.image{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@media screen and (max-width: 760px) {
    .image{
        /*flex-direction: column;*/
    }
}